.mobile-header {
  transition: opacity 1200ms ease-in-out, top 333ms ease-in-out, bottom 333ms ease-in-out;
}

.mobile-header-hidden {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.mobile-header-visible {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.mobile-header-visible .logo-lg {
  width: 123px !important;
  height: 123px !important;
}

/* Fade in/out based on scroll direction */
.mobile-header.logo-fade-out {
  opacity: 0 !important;
  pointer-events: none !important;
}

.mobile-header.logo-fade-in {
  opacity: 1 !important;
  pointer-events: auto !important;
}

/* Footer Logo Fade Effect */
.footer-logo {
  transition: opacity 1200ms ease-in-out;
}

.footer-logo-hidden,
.footer-logo.logo-fade-out {
  opacity: 0 !important;
  pointer-events: none !important;
}

.footer-logo-visible,
.footer-logo.logo-fade-in {
  opacity: 1 !important;
  pointer-events: auto !important;
}
