@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@500&display=swap');

.poetry {
  font-family: 'Lexend Mega', Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 0.9;
  filter: brightness(0.9);
}
