@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@500&display=swap');
/* filepath: c:\Users\yuanw\github\GFL-Trunk\src\styles/subtitles.css */
.subtitles {
  font-family: 'Lexend Mega', Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 0.9;
  color: #FFFEF0;
  font-size: clamp(0.8059rem, 3.842vw, 2.370rem);
}
