@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Figtree', sans-serif;
  background: linear-gradient(to bottom, rgb(29, 10, 1), rgb(12, 5, 4), #0d0811ff, rgb(11, 1, 14), rgb(13, 1, 15), rgb(20, 2, 27));
  background-attachment: fixed;
  color: #FFFEF0;
  overflow: hidden;
}

/* Font classes */
.font-rajdhani {
  font-family: 'Rajdhani', sans-serif;
}

.font-lexend-mega {
  font-family: 'Lexend Mega', Arial, Helvetica, sans-serif;
}

.font-figtree {
  font-family: 'Figtree', sans-serif;
}
