@import url('https://fonts.googleapis.com/css2?family=Areplos+Text:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Ubuntu', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #150a24;
}

html {
  background-color: #150a24;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-font {
  font-family: 'Areplos Text', serif;
  font-weight: 700;
  font-style: italic;
}
